{% extends 'layout.twig' %}
{% block main %}
<table id='property-list'>
{% for property in properties %}
<tr>
<td class='property-id'>{{ property.id }}</td>
<td class='property-label'>{{ property.label }}</td>
<td class='property-type'>{{ property.type }}</td>
<td class='property-desc'>{{ property.description }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
